<mat-toolbar>
  <span class="example-spacer"></span>
  <button 
  (click)="cambiaMenu()"
    class="example-icon person-icon mr-5 btn-client">
    <span>client</span> <mat-icon>person</mat-icon>
  </button>
  <div class="sub-menu animate__fadeInDown" *ngIf="menu">
    <ul>
      <li class="firts-list">
        <a (click)="logOut()"><img src="./assets/img/Recurso1.png" alt="" class="img-circle"> Botanical Flowers <span>Logout</span></a>
      </li>
      <li class="next-list">Amazon</li>
      <li class="next-list">Wallmart</li>
      <li class="next-list">Costco</li>
    </ul>
  </div>
</mat-toolbar>