body {
    overflow: hidden;
}
$primario: #065F6D;
.color-general {
    color: $primario;
}
.f-bold {
    font-weight: bold !important;
}
.listas {
    padding: 0;
    list-style: none;
}
.text-rigth {
    text-align: right;
}
.p-0 {
    padding: 0;
}
.mb-0 {
    margin-bottom: 0 !important;
}