<div class="mat-elevation-z8">
    <mat-card>
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <h1 class="text-center">PAYMENTS</h1>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-list>
                            <h3 mat-subheader>Instructions</h3>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <p mat-subheader>Required CSV file (.csv)</p>
                            </mat-list-item>
                            <mat-list-item>
                                <p mat-subheader>If you add another column to the original template the system will not take that column. It will only take the established columns in the template.</p>
                            </mat-list-item>
                            <mat-list-item>
                                <a class="export-file" [href]="templatePayments" target="_blank" download="payments_template.xlsx">
                                    <mat-icon>save_alt</mat-icon> Download template</a>
                            </mat-list-item>
                        </mat-list>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <h2 mat-dialog-title>Upload payments</h2>
                        <br>
                        <br>
                        <div class="col-md-6" >
                            <input type="file" accept=".csv" #fileUploader (change)="handleFileInput($event.target.files)" >
                        </div>
                        <br>
                        <div class="text-right">
                            <button mat-raised-button [disabled]="!fileToUpload" (click)="onSubmit()" type="submit" class="btn btn-success">Send</button>
                        </div>
                        <br>
                    </div>
                </div>
        </div>
    </mat-card>
</div>