<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="space"></div>
    <mat-toolbar>
      <mat-icon>
        panorama_fish_eye
      </mat-icon>
      DASHBOARD
    </mat-toolbar>
    <mat-nav-list class="mt-5">
      <a mat-list-item class="item-hover" routerLink="/stock" href="#"><mat-icon>local_florist</mat-icon> STOCK</a>
      <a mat-list-item class="item-hover" routerLink="/orders" href="#"><mat-icon>add_shopping_cart</mat-icon> ORDERS</a>
      <a mat-list-item class="item-hover" href="#"><mat-icon>all_inbox</mat-icon> SHIPMENT</a>
      <a mat-list-item class="item-hover" routerLink="/payments" href="#"><mat-icon>payments</mat-icon>  PAYMENTS</a>
      <a mat-list-item class="item-hover" routerLink="/reports" href="#"><mat-icon>receipt</mat-icon> REPORTS</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar> 
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>