.sidenav-container {
  height: 100%;
}
.sidenav {
  background:linear-gradient(180deg, rgba(0,84,84,1) 0%, rgba(0,84,84,0.95) 20%, rgba(18,120,162,.6) 100%), url('/assets/img/mano.png') no-repeat center bottom;
  background-size: cover;
  mat-toolbar, a {
    color: #fff;
    margin-bottom: 1rem;
  }

}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.space {
  width: 100%;
  @media (min-width: 780px) {
    height: 100px;
  }
}