// Global style

.sign-in-container {
    .cont-img {
        animation: fadeScale .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        img {
            width: 100%;
            
            @include media(xs){
                width: 70%;
                margin: 20px 0 0 0
            }
        }
    }
}

// End global style



