// Reset



mat-dialog-container.mat-dialog-container {
    padding: 0;
    overflow: inherit;
    .mat-dialog-title {
        display: inline-block;
        background: $color-1;
        color: $white;
        padding: 8px 10px;
        position: relative;
        font-family: $font-general;
        font-size: 24px;
        &:after {
            content: "";
            width: 40px;
            height: 100%;
            background: $color-1;
            position: absolute;
            top: 0;
            left: 100%;
            border-radius: 0 40px 40px 0
        }
    }
    .mat-dialog-content {
        margin: 0;
        overflow: inherit;
    }
    .mat-dialog-actions {
        padding: 10px 20px;
        margin: 0;
        button {
            margin: 5px;
        }
    }
}

.mat-paginator {
    font-family: $font-general;
    font-size: 14px;
}

.mat-stroked-button {
    &:not([class*=mat-elevation-z]) {
        border-color: $color-1;
        color: $color-1;
        border-radius: 40px !important;
        border-width: 2px;
    }
}


.mat-form-field {
    width: 100%;
}

.snotify {
    width: 560px;
    left: calc(50% - 560px/2);
    top: 63px;
    .snotifyToast {
        background-color: $white;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
        border-radius: 30px;
        .snotifyToast__inner {
            min-height: 50px;
            padding: 5px 50px 0 20px;
        }
        .snotifyToast__progressBar {
            top: 10px;
            width: 85%;
            left: 20px;
            height: 6px;
            border-radius: 3px;
        }
        .snotifyToast__progressBar__percentage {
            height: 6px;
            border-radius: 3px;
        }
        .snotifyToast__title {
            font-family: $font-general;
        }
        .snotifyToast__body {
            color: $gray; font-family: $font-general
        }
        .snotify-icon {
            max-height: 36px;
            max-width: 36px;
            top: 5px;
            animation: fadeInScaleIn .4s ease-in;
            transform-origin: center center;
            background-repeat: no-repeat;
            transform: translate(0);
        }
        &.snotify-success {
            @include notificate($color-1)
        }
        &.snotify-error {
            @include notificate($color-6)
        }
    }
}

// End reset