// General var
$font-general: 'Poppins', sans-serif;

$white: #fff;
$black: #000;
$gray: #5c5a59;

$color-1: #005454;
$color-2: #f7a065;
$color-3: #fcd8c1;
$color-4: #cc9742;
$color-5: #00ad9f;
$color-6: #f2895f;
$colorError: #f44336;

$color-gray-1: #f5f0ed;
$color-gray-2: #f2f2f2;
$color-gray-3: #ebebeb;

$ubication: top, right, bottom, left;
$direction: left, center, right;
// End general var